.navbar.navbar-expand-lg.bg-dark{
    background: rgb(240,230,237);
    background: linear-gradient(360deg, rgb(85, 186, 253) 15%, rgba(157,211,247,1) 85%);
}

i.fa-brands.fa-linkedin.fa-xl{
    color: rgb(255, 255, 255);
}
i.fa-brands.fa-github.fa-xl{
    color: rgb(255, 255, 255);
}
i.fa-brands.fa-instagram.fa-xl{
    color: rgb(255, 255, 255);
}
i.fa-brands.fa-linkedin.fa-xl:hover{
    color: rgb(57, 176, 247);
}
i.fa-brands.fa-github.fa-xl:hover{
    color: rgb(57, 176, 247);
}
i.fa-brands.fa-instagram.fa-xl:hover{
    color: rgb(57, 176, 247);
}

.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

i.fa-solid.fa-user.fa-lg{
    color: rgb(255, 255, 255);
}
i.fa-solid.fa-user.fa-lg:hover{
    color: rgb(57, 176, 247);
}

.form-control:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: 0 0 0 0.25rem rgb(157, 211, 247);
}

.form-check-input:checked{
    background-color: rgb(157, 211, 247);
    border-color: rgb(90, 190, 255);
    box-shadow: 0 0 0 0.25rem rgb(157, 211, 247);
}
.form-check-input:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: rgb(150, 211, 247);
}

.btn btn-primary:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: rgb(150, 211, 247);
}

banner {
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.progress-bar{
    background-color: rgb(57, 176, 247) !important;
}

footer, .copyright {
    background-color: rgb(85, 186, 253);
    height: 30px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    position: fixed;
    color: #fff;
    bottom: 0;
}

.login {
    height: 100vh;
}

.formulario-login {
    margin-top: 23%;
}

.admin {
    font-size: 1rem;
}

nav.vertical {
    float: left;
}

li.vertical {
    display: block;
    margin: 5px;
    writing-mode: vertical;
    padding: 1rem 0;
    margin-top: 10rem;
    margin-left: -1.5rem;
    font-size: 1rem;
    color: rgb(57, 176, 247);
}

li.vertical:hover {
    color: rgb(140, 215, 255);
}

.col-11 {
    display: block;
    margin: 0;
    padding: 1rem 0;
    margin-top: 6.5rem;
}

.container {
    width: 100vh;
    margin-top: 3.5rem;
}

a {
    color: black;
}

a:hover {
    color: rgb(57, 176, 247);
}

a:link {
    text-decoration: none;
}