.navbar.navbar-expand-lg.bg-dark{
    background: rgb(240,230,237);
    background: linear-gradient(360deg, rgb(85, 186, 253) 15%, rgba(157,211,247,1) 85%);
}

i.fa-brands.fa-linkedin.fa-xl{
    color: rgb(255, 255, 255);
}
i.fa-brands.fa-github.fa-xl{
    color: rgb(255, 255, 255);
}
i.fa-brands.fa-instagram.fa-xl{
    color: rgb(255, 255, 255);
}
i.fa-brands.fa-linkedin.fa-xl:hover{
    color: rgb(57, 176, 247);
}
i.fa-brands.fa-github.fa-xl:hover{
    color: rgb(57, 176, 247);
}
i.fa-brands.fa-instagram.fa-xl:hover{
    color: rgb(57, 176, 247);
}

.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

i.fa-solid.fa-user.fa-lg{
    color: rgb(255, 255, 255);
}
i.fa-solid.fa-user.fa-lg:hover{
    color: rgb(57, 176, 247);
}

.form-control:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: 0 0 0 0.25rem rgb(157, 211, 247);
}

.form-check-input:checked{
    background-color: rgb(157, 211, 247);
    border-color: rgb(90, 190, 255);
    box-shadow: 0 0 0 0.25rem rgb(157, 211, 247);
}
.form-check-input:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: rgb(150, 211, 247);
}

.btn btn-primary:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: rgb(150, 211, 247);
}

#banner{
    padding: 0 50px;
    background-image: url(./img/BANNER.png);
    height: 45vh;
    background-size: cover;
    background-position: center;
}

#banner::before{
    content:"";
    background: rgba(50, 50, 50, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}

.container-banner{
    position: relative;
    background-position: center;
    color: #fff;
    height: 140%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-banner h1{
    font-size: 33px;
    font-weight: 400;
    padding: 10px 0;
}

.container-banner h1 span{
    font-weight: 600;
}

.progress-bar{
    background-color: rgb(57, 176, 247) !important;
}

footer {
  width: 100%;
  height: 110px;
  background-color: rgb(85, 186, 253);
  color: rgb(85, 186, 253);

}
  
footer .copyright {
  margin-top: 55vh;  
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.login {
    height: 100vh;
}

.formulario-login {
    margin-top: 23%;
}

.perfil {
    width: 70%;
}

.admin {
    font-size: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(57, 176, 247);
}

nav.vertical {
    float: left;
}

li.vertical {
    display: block;
    margin: 0;
    writing-mode: vertical;
    padding: 3rem 0;
    margin-top: 8rem;
    font-size: 1.3rem;
}
    
a, a:hover {
    text-decoration: none;
    color: black
}

a:hover {
    color: rgb(57, 176, 247);
}

.col-11 {
    display: block;
    margin: 0;
    padding: 3rem 0;
    margin-top: 6.5rem;
}

.container {
    width: 265%;
}