.navbar.navbar-expand-lg.bg-dark{
    background: rgb(240,230,237);
    background: linear-gradient(360deg, rgba(240,230,237,1) 15%, rgba(157,211,247,1) 85%);
}

i.fa-brands.fa-linkedin.fa-xl{
    color: rgb(90, 190, 255);
}
i.fa-brands.fa-github.fa-xl{
    color: rgb(90, 190, 255);
}
i.fa-brands.fa-instagram.fa-xl{
    color: rgb(90, 190, 255);
}
i.fa-brands.fa-linkedin.fa-xl:hover{
    color: rgb(150, 211, 247);
}
i.fa-brands.fa-github.fa-xl:hover{
    color: rgb(150, 211, 247);
}
i.fa-brands.fa-instagram.fa-xl:hover{
    color: rgb(150, 211, 247);
}

.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

i.fa-solid.fa-user.fa-lg{
    color: rgb(90, 190, 255);
}
i.fa-solid.fa-user.fa-lg:hover{
    color: rgb(150, 211, 247)
}

.form-control:focus{
    border-color: rgb(90, 190, 255);
    box-shadow: 0 0 0 0.25rem rgb(157, 211, 247);
}

.form-check-input:checked{
    background-color: rgb(157, 211, 247);
    border-color: rgb(90, 190, 255);
    box-shadow: 0 0 0 0.25rem rgb(157, 211, 247);
}
.form-check-input:focus{
    border-color:
    box-shadow:
}

.btn-right{
    color: rgb(179, 138, 246);
    border-color: rgb(179, 138, 246);
}

.btn-right:hover{
    color: rgb(179, 138, 246);
    border-color: rgb(179, 138, 246);
}

{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
}

.banner{
    width: 100%;
    height: 41vh;
    background-image: url(./img/BANNER\ 2.png);
    background-size: cover;
    background-position: fixed;
    border-radius: 15px;
    position: fixed;
    margin-top: 100px;
    margin-left: -110px;
}

.banner-text{
    padding-top: 100px;
    margin-left: 50px;
}

.banner-text h3{
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 25px;
}

.btn-right h1{
    margin-left: 5px;
    font-size: 100px;
}

h1{
    color: rgb(209, 166, 255);
}

h3{
    color: rgb(209, 166, 255);
}